.contenedor {
    margin: 0 auto;
    width: 900px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: center;
}

.fila-verde {
    background-color: darkgreen;
    color: white;
}

.fila-celeste {
    background-color: lightblue;
}

.contenido {
    overflow: hidden;
    display: flex;
    justify-content: center;

}

.logo-universidad {
    overflow: hidden;
    text-align: center;
}

.logo-universidad img {
    width: 50px;
    margin-right: 10px;
    float: left;
}

.texto-universidad {
    overflow: hidden;
    text-align: left;
}

.texto-universidad p {
    margin: 0;
}

.texto-universidad p.grande {
    font-size: 24px;
}

.texto-universidad p.mediano {
    font-size: 20px;
}

.texto-universidad p.chico {
    font-size: 16px;
}

.texto-universidad p.rojo {
    color: red;
}

.texto-universidad p.azul {
    color: blue;
}

.texto-universidad p.derecha {
    text-align: right;
}

.facultad-sucre {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.carrera {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.corto {
    text-align: left;
}

.largo {
    width: 700px;
}

.derecha {
    text-align: right;
}

.izquierda {
    text-align: left;
}

.universitario p {
    margin: 5px 0;
    color: #ffffff;
}

.rojo {
    color: red;
}

.amarillo {
    color: yellow;
}

.verde {
    color: green;
}
