.rojo {
    background-color: red;
}
.amarillo {
    background-color: yellow;
}
.verde {
    background-color: green;
}
.tabla {
    height: 400px;
    width: 400px;
}

.tabla td {
    border: 1px solid black;
}