body {
    background-color: rgb(219, 216, 216);
}

h1 {
    color: rgb(3, 52, 19);
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;

}

.deus_ex_umbra {
    height: 300px;
    width: 300px;
}

.carrera {
    color: rgb(10, 2, 39);
    font-style: italic;
}

.micarrera {
    font-size: large;
}